#homepage {
	margin-bottom: 0px;
	font-weight: bold;
  text-align: left;
}

body {
  overflow: visible;
  margin: 0;
  text-align: center;
}

canvas {
  border: 5px solid blue;
  background-color: #96fff6
}

#header {
  margin: 5px 0;
}

#difficulty {
  height: 100%;
}

.col-2 {
  margin: 5px;
}

button {
  margin: 8px;
}

#universe {
  text-align: center;
  width: 100%;
}

#hint {
  font-size: 12px;
}
